        <!-- BEGIN PAGE SPINNER -->
        <!-- END PAGE SPINNER -->      
<div data-ng-include="'src/app/tpl/header.tpl.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
<div ng-controller="DashboardController" class="fade-in-up">
    
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div data-ng-include="'src/app/tpl/sidebar.tpl.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
               <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
            <h3 class="page-title"> Dashboard </h3>
            <div >
                Dashboard content goes here.
            </div>
        </div>
    </div>
            <!-- END CONTENT -->
        </div>

</div>


        <div data-ng-include="'src/app/tpl/footer.tpl.html'" data-ng-controller="FooterController" class="page-footer"> </div>

<script>
Dashboard.init();
</script>