              <div class="login">
                  <div class="content">
                        <!-- BEGIN LOGIN FORM -->
                    <form class="forget-form" action="#" method="post">
                        <h3 class="font-green">Forget Password ?</h3>
                        <p> Enter your e-mail address below to reset your password. </p>
                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> 
                        </div>
                        <div class="form-actions">
                            <a href="/#/login" id="back-btn" class="btn green btn-outline">Back</a>
                            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                        </div>
                    </form> </div>
        </div>