          <div class="login">
              <div class="content">
                    <!-- BEGIN LOGIN FORM -->
                    <form class="login-form" name="loginForm"  ng-submit="login(data)" novalidate  >
                    <h3 class="form-title font-green">Sign In</h3>
                    <div class="alert alert-danger {{invlidFormClass}}">
                        <button class="close" data-close="alert"></button>
                        <span> Invalid username and password. </span>
                    </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Username</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" ng-model="data.username" required /> </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"  ng-model="data.password" required /> </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green uppercase"
                         ng-click="login(data)">Login</button>
<!--                         <label class="rememberme check mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="remember" value="1" />Remember
                            <span></span>
                        </label> -->
                        <a href="/#/forgot" id="forget-password" class="forget-password">Forgot Password?</a>
                    </div>
                    <div class="create-account">
                        <p>
                            <a href="/#/signup" id="register-btn" class="uppercase">Create an account</a>
                        </p>
                    </div>
                </form>
                </div>
          </div>
