<div class="login">
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form  class="register-form"  name="singupForm"  ng-submit="signup(data)" novalidate >
           <h3 class="font-green">Sign Up</h3>
           <p class="hint"> Enter your account details below: </p>
           <span class="label label-danger" ng-if="errorExists" >{{loginErrorMessage}}</span>
            <div class="form-group" show-errors>
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <!-- <label>Username</label> -->
                <input type="text" class="form-control placeholder-no-fix"  placeholder="Username" autocomplete="off" name="username" ng-model="data.username" id="username" required >
                <p class="help-block" ng-if="singupForm.username.$error.required">
                    Please select a  username.
                </p>
            </div>

             <div class="form-group" show-errors>
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email"  ng-model="data.email" required  /> 
                <p class="help-block" ng-if="singupForm.email.$error.required">Enter a valid email.</p>
                <p class="help-block" ng-show="singupForm.email.$error.email">
                    Please enter valid email.
                </p>
             </div>


            <div class="form-group" show-errors>
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input type="password" class="form-control placeholder-no-fix" name="password" placeholder="Password" ng-model="data.password" id="password" required>
                <p class="help-block" ng-if="singupForm.password.$error.required">
                   Please enter a password.
                 </p>
            </div>

            <div class="form-group" show-errors>
                <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                <input type="password" class="form-control placeholder-no-fix" name="confirmPassword" placeholder="Confirm Passwrod"  ng-model="data.confirmPassword" id="confirmPassword" required 
                data-match="data.password">
                <p class="help-block" ng-if="singupForm.confirmPassword.$error.required">
                   Please confirm your password.
                </p>
                <p class="help-block" ng-if="singupForm.confirmPassword.$error.match">
                   Passwords do not match.
                </p>
            </div>
<!--             <div class="form-group margin-top-20 margin-bottom-20">
                    <label class="mt-checkbox mt-checkbox-outline">
                        <input type="checkbox" name="tnc" /> I agree to the
                        <a href="">Terms of Service </a> 
                        <a href="">Privacy Policy </a>
                        <span></span>
                    </label>
                    <div id="register_tnc_error"> </div>
            </div> -->
            <div class="form-actions">
                    <a href="/#/login" id="register-back-btn" class="btn green btn-outline">Login</a>
                    <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right" ng-disabled="singupForm.$invalid">Submit</button>
            </div>
    </form>
</div>
</div>